<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6d4ae">  <td>19/11/03 17:06:55</td>   <td>0</td> <td title="&gt;&gt;DriverScript.setUp()[pri:0, instance:com.scripts.TestScripts@396a51ab]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@684874119</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>19/11/03 17:07:08</td>   <td>12907</td> <td title="&lt;&lt;DriverScript.tearDown()[pri:0, instance:com.scripts.TestScripts@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@684874119</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>19/11/03 17:07:00</td>   <td>4632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.verifyLoginDetails(java.util.Map)[pri:1, instance:com.scripts.TestScripts@396a51ab]">verifyLoginDetails</td> 
  <td>main@684874119</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>19/11/03 17:07:02</td>   <td>6663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.verifyLoginDetails(java.util.Map)[pri:1, instance:com.scripts.TestScripts@396a51ab]">verifyLoginDetails</td> 
  <td>main@684874119</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>19/11/03 17:07:04</td>   <td>8700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.verifyLoginDetails(java.util.Map)[pri:1, instance:com.scripts.TestScripts@396a51ab]">verifyLoginDetails</td> 
  <td>main@684874119</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>19/11/03 17:07:06</td>   <td>10740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.verifyLoginDetails(java.util.Map)[pri:1, instance:com.scripts.TestScripts@396a51ab]">verifyLoginDetails</td> 
  <td>main@684874119</td>   <td></td> </tr>
</table>
