<h2>Reporter output</h2><table><tr><td>[Row 1] {Methods=Login, Runmode=Y, Scenario=SC1, Sno=1}</td></tr>
<tr><td>[Row 2] {Methods=Create BE, Runmode=Y, Scenario=SC1, Sno=2}</td></tr>
<tr><td>[Row 3] {Methods=Create Identifier, Runmode=Y, Scenario=SC1, Sno=3}</td></tr>
<tr><td>[Row 4] {Methods=Create Affilication, Runmode=Y, Scenario=SC1, Sno=4}</td></tr>
<tr><td>Converting results to an Array for TestNG</td></tr>
<tr><td>Finished converting results to an Array for TestNG</td></tr>
</table>