<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe6bb">  <td>20/05/31 22:12:47</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentReportsClass.endReport()[pri:0, instance:com.airtel.utilities.ExtentReportsClass@1794d431]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/31 22:12:47</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportsClass.failTest()[pri:0, instance:com.airtel.utilities.ExtentReportsClass@1794d431]">failTest</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/31 22:12:47</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportsClass.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.utilities.ExtentReportsClass@1794d431]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/31 22:12:47</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportsClass.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.utilities.ExtentReportsClass@1794d431]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/31 22:12:47</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportsClass.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.utilities.ExtentReportsClass@1794d431]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/31 22:12:47</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportsClass.passTest()[pri:0, instance:com.airtel.utilities.ExtentReportsClass@1794d431]">passTest</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/31 22:12:47</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportsClass.skipTest()[pri:0, instance:com.airtel.utilities.ExtentReportsClass@1794d431]">skipTest</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/05/31 22:12:47</td>   <td>-226</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentReportsClass.startReport()[pri:0, instance:com.airtel.utilities.ExtentReportsClass@1794d431]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
</table>
