<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNGXMLTest Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.ClickGotItBtn()[pri:18, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">ClickGotItBtn</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.ClickNextBtn()[pri:17, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">ClickNextBtn</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:47</td>   <td>-33133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.clickBankMenu()[pri:10, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">clickBankMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:41</td>   <td>-38652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.clickBroadBandMenu()[pri:8, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">clickBroadBandMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:45</td>   <td>-35417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.clickDTHMenu()[pri:9, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">clickDTHMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:49</td>   <td>-30850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.clickHelpMenu()[pri:11, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">clickHelpMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:05</td>   <td>-14646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.clickOnHelpLink()[pri:3, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">clickOnHelpLink</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:39</td>   <td>-40954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.clickPostPaidMenu()[pri:7, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">clickPostPaidMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:37</td>   <td>-43186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.clickPrepaidMenu()[pri:6, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">clickPrepaidMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:33</td>   <td>-46987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:33</td>   <td>-46846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:33</td>   <td>-46784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:33</td>   <td>-46659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:34</td>   <td>-45567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:35</td>   <td>-44496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:37</td>   <td>-43187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:39</td>   <td>-40954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:41</td>   <td>-38652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:45</td>   <td>-35417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:47</td>   <td>-33133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:49</td>   <td>-30850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:51</td>   <td>-28630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:52</td>   <td>-27576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:54</td>   <td>-26473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:55</td>   <td>-25381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:56</td>   <td>-24289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:57</td>   <td>-23197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:58</td>   <td>-22133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:59</td>   <td>-21041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:00</td>   <td>-19965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:00</td>   <td>-19965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:05</td>   <td>-14755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:05</td>   <td>-14646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:07</td>   <td>-12673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:07</td>   <td>-12618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:07</td>   <td>-12569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:07</td>   <td>-12500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:08</td>   <td>-12458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:08</td>   <td>-12407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:08</td>   <td>-12366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:08</td>   <td>-12326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:08</td>   <td>-12285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:08</td>   <td>-12223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:08</td>   <td>-12179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:08</td>   <td>-12179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:20</td>   <td>515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:21</td>   <td>577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:21</td>   <td>577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.getResult(org.testng.ITestResult)[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:26</td>   <td>-53633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.launchAirtelApplication()[pri:1, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">launchAirtelApplication</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:01</td>   <td>-18685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.launchAirtelApplication()[pri:1, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">launchAirtelApplication</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:22</td>   <td>-58441</td> <td title="&gt;&gt;DriverScript.setUp()[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:22</td>   <td>-58331</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverScript.startDriver()[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:00</td>   <td>-19949</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverScript.startDriver()[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:52:22</td>   <td>-58425</td> <td>&nbsp;</td><td title="&gt;&gt;DriverScript.startReport()[pri:0, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:00</td>   <td>-19949</td> <td>&nbsp;</td><td title="&gt;&gt;DriverScript.startReport()[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="a7c69f">  <td>20/05/31 22:53:21</td>   <td>593</td> <td title="&lt;&lt;DriverScript.tearDown()[pri:0, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:54</td>   <td>-26473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyAWynkMenu()[pri:15, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyAWynkMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyAccountOverViewDisplayed()[pri:19, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyAccountOverViewDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:33</td>   <td>-46987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyAirtelPageIsLoaded()[pri:2, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyAirtelPageIsLoaded</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:05</td>   <td>-14755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyAirtelPageIsLoaded()[pri:2, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyAirtelPageIsLoaded</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:52</td>   <td>-27576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyAirtelPaymentSubMenu()[pri:14, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyAirtelPaymentSubMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyAvailThanksBenefitsDisplayed()[pri:21, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyAvailThanksBenefitsDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:34</td>   <td>-45567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyBankSubMenuDisplayed()[pri:5, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyBankSubMenuDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:07</td>   <td>-12618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyBusinessLink()[pri:5, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyBusinessLink</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:57</td>   <td>-23197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyBusinessMenu()[pri:18, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyBusinessMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:56</td>   <td>-24289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyCareerMenu()[pri:17, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyCareerMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:21</td>   <td>577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyCloseApplication()[pri:27, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyCloseApplication</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:33</td>   <td>-46659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyDTHSubMenu()[pri:4, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyDTHSubMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:08</td>   <td>-12326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyFaceBookImage()[pri:10, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyFaceBookImage</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:08</td>   <td>-12285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyFaceBussinessImage()[pri:11, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyFaceBussinessImage</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:08</td>   <td>-12366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyForgotBtn()[pri:9, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyForgotBtn</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyGetHelpDisplayed()[pri:25, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyGetHelpDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:35</td>   <td>-44496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyHelpSubMenu()[pri:5, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyHelpSubMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:08</td>   <td>-12223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyInverstor()[pri:12, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyInverstor</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:07</td>   <td>-12569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyInverstorLink()[pri:6, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyInverstorLink</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:58</td>   <td>-22133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyInvestorMenu()[pri:19, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyInvestorMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyIsGotItDisplayed()[pri:16, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyIsGotItDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:33</td>   <td>-46846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyJobsSubMenu()[pri:3, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyJobsSubMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:08</td>   <td>-12179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyLogin()[pri:14, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyLogin</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:08</td>   <td>-12179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyLoginBtn()[pri:13, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyLoginBtn</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:08</td>   <td>-12458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyLoginSubmitBtn()[pri:8, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyLoginSubmitBtn</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:07</td>   <td>-12500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyMobileNumber()[pri:7, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyMobileNumber</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyNextBtnDisplayed()[pri:15, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyNextBtnDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyOrdersDisplayed()[pri:23, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyOrdersDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:08</td>   <td>-12406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyPassword()[pri:8, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyPassword</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyPaymentDueDisplayed()[pri:26, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyPaymentDueDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyPaymentRechargeDisplayed()[pri:22, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyPaymentRechargeDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:07</td>   <td>-12672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyPersonalLink()[pri:4, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyPersonalLink</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:55</td>   <td>-25381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyPersonalMenu()[pri:16, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyPersonalMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:33</td>   <td>-46784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyPrepaidMenuDisplayed()[pri:3, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyPrepaidMenuDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:59</td>   <td>-21041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyRecharge()[pri:20, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyRecharge</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifyRequestsDisplayed()[pri:24, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifyRequestsDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/05/31 22:53:20</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelLoginUserTest.verifySearchOpenDisplayed()[pri:20, instance:com.airtel.scripts.AirtelLoginUserTest@75329a49]">verifySearchOpenDisplayed</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:53:00</td>   <td>-19965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyTCloseApplication()[pri:21, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyTCloseApplication</td> 
  <td>main@963110412</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>20/05/31 22:52:51</td>   <td>-28630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirtelHomeTest.verifyXStreamSubMenu()[pri:13, instance:com.airtel.scripts.AirtelHomeTest@6dbb137d]">verifyXStreamSubMenu</td> 
  <td>main@963110412</td>   <td></td> </tr>
</table>
